@inherits RenderViewPage
@using Umbraco.Cms.Web;
@using Site.Extensions;


 @{
     var Homepage = @DynamicModel;
     while (Homepage.ContentType.Alias != "homePage")
     {
         Homepage = Homepage.Parent;
     }
 }

<ul>
    @foreach (var item in Model.Root().Children())
    {
        if (item.IsVisible())
        {
            <li @item.IsAncestorOrSelf(Model, "class='active'", "")><a href="@item.NiceUrl()">@item.Name</a></li>
        }
    }
</ul>
