@inherits RenderViewPage
@using Umbraco.Cms.Web;
@using Site.Extensions;


@{
    var currentPage = Model;
    object o = new object();
}


<ul>
    @foreach (var child in Model.OfType("BookPage").Skip(2).Take(2))
    { 
        <li @child.IsFirst("style='color: green;'", "style='color: blue;'")><a href="@child.NiceUrl()">@child.Name</a></li>
    }
</ul>