<?xml version="1.0"?>
<hive>
  <available-providers>
    <readers />
    <writers>
      <add key="examine" type="Umbraco.Framework.Persistence.Examine.Hive.EntityRepositoryFactory, Umbraco.Framework.Persistence.Examine" providerConfig="umbraco/persistenceProviderSettings/examine">
        <revisioning type="Umbraco.Framework.Persistence.Examine.Hive.RevisionRepositoryFactory, Umbraco.Framework.Persistence.Examine" providerConfig="" />
        <schema type="Umbraco.Framework.Persistence.Examine.Hive.SchemaRepositoryFactory, Umbraco.Framework.Persistence.Examine" providerConfig="" />
      </add>
      <add key="templates" type="Umbraco.Hive.Providers.IO.EntityRepositoryFactory, Umbraco.Hive.Providers.IO" providerConfig="umbraco/fileSystemProviderSettings/templates" />
      <add key="partials" type="Umbraco.Hive.Providers.IO.EntityRepositoryFactory, Umbraco.Hive.Providers.IO" providerConfig="umbraco/fileSystemProviderSettings/partials" />
      <add key="file-uploader" type="Umbraco.Hive.Providers.IO.EntityRepositoryFactory, Umbraco.Hive.Providers.IO" providerConfig="umbraco/fileSystemProviderSettings/file-uploader" />
      <add key="scripts" type="Umbraco.Hive.Providers.IO.EntityRepositoryFactory, Umbraco.Hive.Providers.IO" providerConfig="umbraco/fileSystemProviderSettings/scripts" />
      <add key="stylesheets" type="Umbraco.Hive.Providers.IO.EntityRepositoryFactory, Umbraco.Hive.Providers.IO" providerConfig="umbraco/fileSystemProviderSettings/stylesheets" />
      <add key="macros" type="Umbraco.Hive.Providers.IO.EntityRepositoryFactory, Umbraco.Hive.Providers.IO" providerConfig="umbraco/fileSystemProviderSettings/macros" />
      <add key="xslt" type="Umbraco.Hive.Providers.IO.EntityRepositoryFactory, Umbraco.Hive.Providers.IO" providerConfig="umbraco/fileSystemProviderSettings/xslt" />
    </writers>
  </available-providers>

  <provider-groups>
    <clear />
    <group key="default">
      <readers>
        <use provider="examine" ordinal="0" propagateReadMissesToWriters="true" />
      </readers>
      <read-writers>
        <use provider="examine" ordinal="0" isPassthrough="false" />
      </read-writers>
      <uri-matches>
        <match uri="system://" />
        <match uri="content://" />
        <match uri="media://" />
        <match uri="security://" />
      </uri-matches>
    </group>
    <group key="file-uploads">
      <readers>
        <use provider="file-uploader" ordinal="0"/>
      </readers>
      <read-writers>
        <use provider="file-uploader" ordinal="0" />
      </read-writers>
      <uri-matches>
        <match uri="storage://file-uploader/" />
      </uri-matches>
    </group>
    <group key="stylesheets">
      <readers>
        <use provider="stylesheets" ordinal="0" />
      </readers>
      <read-writers>
        <use provider="stylesheets" ordinal="0" />
      </read-writers>
      <uri-matches>
        <match uri="storage://stylesheets/" />
      </uri-matches>
    </group>
    <group key="scripts">
      <readers>
        <use provider="scripts" ordinal="0" />
      </readers>
      <read-writers>
        <use provider="scripts" ordinal="0" />
      </read-writers>
      <uri-matches>
        <match uri="storage://scripts/" />
      </uri-matches>
    </group>
    <group key="templates">
      <readers>
        <use provider="templates" ordinal="0" />
      </readers>
      <read-writers>
        <use provider="templates" ordinal="0" />
      </read-writers>
      <uri-matches>
        <match uri="storage://templates/" />
      </uri-matches>
    </group>
    <group key="partials">
      <readers>
        <use provider="partials" ordinal="0" />
      </readers>
      <read-writers>
        <use provider="partials" ordinal="0" />
      </read-writers>
      <uri-matches>
        <match uri="storage://partials/" />
      </uri-matches>
    </group>
    <group key="xslt">
      <readers>
        <use provider="xslt" ordinal="0" />
      </readers>
      <read-writers>
        <use provider="xslt" ordinal="0" />
      </read-writers>
      <uri-matches>
        <match uri="storage://xslt/" />
      </uri-matches>
    </group>
    <group key="macros">
      <readers>
        <use provider="macros" ordinal="0" />
      </readers>
      <read-writers>
        <use provider="macros" ordinal="0" />
      </read-writers>
      <uri-matches>
        <match uri="storage://macros/" />
      </uri-matches>
    </group>
  </provider-groups>
</hive>
