<?xml version="1.0"?>
<clientDependency version="510">
  <compositeFiles defaultFileProcessingProvider="CompositeFileProcessor" compositeFileHandlerPath="~/DependencyHandler.axd">
    <fileProcessingProviders>
      <add name="CompositeFileProcessor"
           type="ClientDependency.Core.CompositeFiles.Providers.CompositeFileProcessingProvider, ClientDependency.Core"
           enableCssMinify="false"
           enableJsMinify="false"
           persistFiles="true"
           compositeFilePath="~/App_Data/ClientDependency"           
           urlType="MappedId"/>
    </fileProcessingProviders>
  </compositeFiles>  
</clientDependency>