<?xml version="1.0"?>
<trees>

  <add application="content" controllerType="Umbraco.Cms.Web.Trees.ContentTreeController, Umbraco.Cms.Web.Trees" />

  <add application="media" controllerType="Umbraco.Cms.Web.Trees.MediaTreeController, Umbraco.Cms.Web.Trees" />

  <add application="settings" controllerType="Umbraco.Cms.Web.Trees.LanguageTreeController, Umbraco.Cms.Web.Trees" />
  <add application="settings" controllerType="Umbraco.Cms.Web.Trees.DictionaryTreeController, Umbraco.Cms.Web.Trees" />
  <add application="settings" controllerType="Umbraco.Cms.Web.Trees.DocumentTypeTreeController, Umbraco.Cms.Web.Trees" />
  <add application="settings" controllerType="Umbraco.Cms.Web.Trees.MediaTypeTreeController, Umbraco.Cms.Web.Trees" />
  <add application="settings" controllerType="Umbraco.Cms.Web.Trees.StylesheetTreeController, Umbraco.Cms.Web.Trees" />
  <add application="settings" controllerType="Umbraco.Cms.Web.Trees.ScriptTreeController, Umbraco.Cms.Web.Trees" />
  <add application="settings" controllerType="Umbraco.Cms.Web.Trees.TemplateTreeController, Umbraco.Cms.Web.Trees" />
  <add application="settings" controllerType="Umbraco.Cms.Web.Trees.PartialsTreeController, Umbraco.Cms.Web.Trees" />

  <add application="developer" controllerType="Umbraco.Cms.Web.Trees.DataTypeTreeController, Umbraco.Cms.Web.Trees" />  
  <add application="developer" controllerType="Umbraco.Cms.Web.Trees.PackagingTreeController, Umbraco.Cms.Web.Trees" />
  <add application="developer" controllerType="Umbraco.Cms.Web.Trees.MacroTreeController, Umbraco.Cms.Web.Trees" />
  <add application="developer" controllerType="Umbraco.Cms.Web.Trees.MacroPartialsTreeController, Umbraco.Cms.Web.Trees" />

  <add application="users" controllerType="Umbraco.Cms.Web.Trees.UserTreeController, Umbraco.Cms.Web.Trees" />
  <add application="users" controllerType="Umbraco.Cms.Web.Trees.UserGroupTreeController, Umbraco.Cms.Web.Trees" />

  <add application="members" controllerType="Umbraco.Cms.Web.Trees.MemberTreeController, Umbraco.Cms.Web.Trees" />
  <add application="members" controllerType="Umbraco.Cms.Web.Trees.MemberGroupTreeController, Umbraco.Cms.Web.Trees" />
  <add application="members" controllerType="Umbraco.Cms.Web.Trees.MemberTypeTreeController, Umbraco.Cms.Web.Trees" />
</trees>
