<?xml version="1.0"?>
<system>  

  <public-packages repositoryAddress="http://packages.umbraco.com" />
    
  <folders
    backOfficeFolder="~/Areas/Umbraco"
    
    docTypeIconFolder="~/Areas/Umbraco/Content/Images/DocTypeIcons"
    docTypeThumbnailFolder="~/Areas/Umbraco/Content/Images/DocTypeThumbs"    
    appIconFolder="~/Areas/Umbraco/Content/Images/AppIcons"
    
    scriptsFolder="~/Scripts/Umbraco"
    stylesheetsFolder="~/Content/Styles"
    templateFolder="~/Views/Umbraco"
    localPackageRepositoryFolder="~/App_Data/Umbraco/LocalPackages"/>

  <urls removeDoubleDashes="true" stripNonAscii="true" urlEncode="false">
    <charReplacements>
      <add char=" " value="-" />
      <add char="&quot;" value="" />
      <add char="'" value="" />
      <add char="%" value="" />
      <add char="," value="" />
      <add char="." value="" />
      <add char=";" value="" />
      <add char="/" value="" />
      <add char=":" value="" />
      <add char="#" value="" />
      <add char="?" value="" />
      <add char="+" value="plus" />
      <add char="*" value="star" />
      <add char="&amp;" value="and" />
      <add char="æ" value="ae" />
      <add char="ø" value="oe" />
      <add char="å" value="aa" />
      <add char="ä" value="ae" />
      <add char="ö" value="oe" />
      <add char="ü" value="ue" />
      <add char="ß" value="ss" />
      <add char="Ä" value="ae" />
      <add char="Ö" value="oe" />
    </charReplacements>
  </urls>
  
  <paths
    backOfficePath="Umbraco" localizationPath="Localization" />

  <routeMatches>      
    <add route="/Error" type="Exclude" />
    <add route="/Umbraco/Error/Msg" type="Exclude" />
    <add route="/Scripts" type="Exclude" />
    <add route="/Content" type="Exclude" /> 
    
    <add route="*" type="Include" />
    <add route="/an-excluded-path*" type="Exclude" />
  </routeMatches>
  
</system>
