<?xml version="1.0"?>
<dashboard-groups>
  <!-- This group shows the "Get started" dashboards -->
  <group>
    <applications>
      <add app="system" />
      <add app="content" />
      <add app="media" />
      <add app="settings" />
      <add app="developer" />
      <add app="users" />
      <add app="members" />
    </applications>
    <dashboards>
      <add tab="Get started" type="partialView" name="StartHere" />      
    </dashboards>
    <!-- Matches are optional -->
    <!--<matches>
      <match type="Umbraco.Cms.Web.Dashboards.Rules.UserRoleMatchRule, Umbraco.Cms.Web" condition="administrator">
        <deny type="Umbraco.Cms.Web.Dashboards.Filters.DisplayDashboard, Umbraco.Cms.Web" />
      </match>    
    </matches>-->
  </group> 
</dashboard-groups> 