<?xml version="1.0"?>
<applications>
  <add alias="content" name="Content" icon=".app-traycontent" />
  <add alias="media" name="Media" icon=".app-traymedia" />
  <add alias="settings" name="Settings" icon=".app-traysettings" />
  <add alias="developer" name="Developer" icon=".app-traydeveloper" />

  <add alias="users" name="Users" icon=".app-trayusers" />
  <add alias="members" name="Members" icon=".app-traymember" />

</applications>
   