<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="umbraco">
      <sectionGroup name="persistenceProviderSettings">
        <section name="nhibernate" type="Umbraco.Framework.Persistence.NHibernate.Config.ProviderConfigurationSection, Umbraco.Framework.Persistence.NHibernate, Version=5.1.0.150, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="nhibernate.ConnString" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=dkfest;User Id=web;Password=farmer" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings />
  <umbraco>
    <persistenceProviderSettings>
      <nhibernate useNhProf="false" connectionStringKey="nhibernate.ConnString" outputNhMappings="false" sessionContext="web" driver="MsSql2008" />
    </persistenceProviderSettings>
  </umbraco>
</configuration>