<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" />
  <package id="Autofac.Mvc3" version="2.5.2.830" />
  <package id="DataAnnotationsExtensions" version="0.6.0.0" />
  <package id="DataAnnotationsExtensions.MVC3" version="0.6.0.0" />
  <package id="DynamicQuery" version="1.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.0.5" />
  <package id="Nuget.Core" version="1.5.20902.9026" />
  <package id="routedebugger" version="2.0.0.6" />
  <package id="Umbraco" version="5.0.310.1" />
  <package id="Umbraco.Framework" version="5.0.310.0" />
  <package id="Umbraco.Framework.Persistence" version="5.0.310.0" />
  <package id="Umbraco.Framework.Security" version="5.0.310.0" />
  <package id="Umbraco.Hive" version="5.0.310.0" />
  <package id="Umbraco.Hive.Providers.IO" version="5.0.310.0" />
  <package id="Umbraco.Hive.Providers.Membership" version="5.0.310.0" />
  <package id="WebActivator" version="1.1.0.0" />
</packages>