@inherits RenderViewPage
@using System.Web.Mvc.Html;
@using Umbraco.Cms.Web;
@{
	Layout = "_Layout.cshtml";
}



<div class="row span9">
  <h1>Hellos!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in metus dui, ut laoreet elit. 
    Donec ac dictum mauris. Vivamus laoreet lacinia nisl, non bibendum eros fringilla ut. Curabitur vestibulum aliquam ipsum sed posuere. Nam interdum elit ut risus suscipit scelerisque. Nulla nisi mi, congue	  
  </p>
</div>

<hr />

